#body {
		width: 80%;
		position: relative;
		margin: auto;
		/*float: left		 
		border-left: 2px solid black;
    	border-right: 2px solid black;*/

	}
	#panel_sup_iz{
		width: 69%;
		height: 120px;				
		vertical-align: center;			
		padding: 0px;	
		text-align: center;			
		position: relative;
		float: left;
		/*text-align: center;*/
		/*display: flex;
		justify-content: center;
		align-items: center;*/

	}
	#datos_basicos{
		width: 69%;
		height: 150px;				
		vertical-align: center;			
		padding: 0px;	
		text-align: left;			
		position: relative;
		float: left;
	}
	#panel_foto{
		width: 25%;
		margin: 0px;				
		padding: 5px;
		height: 150px;		
		position: relative;
		float: left;
	}
	#perfil{
		width: 50%;
		height: 150px;				
		vertical-align: center;			
		padding: 0px;		
		text-align: justify;			
		position: relative;
		float: left;
}
#formacion{
		width: 50%;
		height: 150px;				
		vertical-align: center;			
		padding: 0px;		
		text-align: justify;			
		position: relative;
		float: left;
}
.cls-g {
		width: 98%;
		margin: 1px;		
		height: auto;
		/*background-color: blue;*/
		position: relative;
		float: left;
}